body {
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    background-color: lightseagreen;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 60px;
    margin-top: 30px;
}

/*I got these dimensions from the example tic-tac-toe file*/
.board {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.cell {
    background-color: white;
    margin: 3px;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 25px;
    float: left;
    font-family: arial, sans-serif;
    color: white;
    text-align: center;
}

.startButton {
    background-color: salmon;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
